.container-calc {
  margin: 0 auto;
  width: 300px;
}

input[type="number"] {
  margin: 0 auto;
  width: 100%;
  height: 35px;
  text-align: right;
}

.numbers {
  display: flex;
  flex-flow: column wrap;
  flex-direction: inherit;
   width: 100%;
}

.style-numbers {
  cursor: pointer;
  width: 90px;
  background-color: grey;
  height: 35px;
  margin-top: 10px; 
  margin-left: 5px;
  margin-right: 5px; 
  color: white;
  text-align: center;
  font-size: 25px;
}

.style-symbols {
  cursor: pointer;
  width: 90px;
  background-color: grey;
  height: 35px;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.style-operations {
  cursor: pointer;
  width: 90px;
  background-color: grey;
  height: 35px;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 25px;
}

.style-assign {
  cursor: pointer;
  width: 90px;
  background-color: grey;
  height: 35px;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.operations {
  display: flex;
  flex-flow: column wrap;
  flex-direction: inherit;
   width: 100%;
}

.style-operations {
  margin-left: 5px;
  margin-right: 5px;
}
