$bodyFont: serif;
$contentColor: rgb(239, 239, 239);

$navBorder: rgb(97, 125, 138);
$toolbarInputNavA: rgb(252, 88, 48);

$articleAndButtonColor: rgb(255, 255, 255);
$postDescriptionAndP: rgb(144, 124, 117);
$borderHeaderThree: rgb(97, 125, 138);

$headerAboutAndContact: rgb(252, 91, 51);

$controlInputTextareaFooter: rgb(134, 150, 162);
