$bodyFont: sans-serif;
$contentColor: rgb(255, 255, 255);

$navBorder: rgb(108, 134, 146);
$toolbarInputNavA: rgb(31, 188, 211);

$articleAndButtonColor: rgb(239, 239, 239);
$postDescriptionAndP: rgb(100, 135, 153);
$borderHeaderThree: rgb(22, 151, 166);

$headerAboutAndContact: rgb(31, 188, 211);

$controlInputTextareaFooter: rgb(97, 125, 138);
